.screen{
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701497328.jpg') ;
   */
   /* background-image: url('./components/b4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1.9; */
}

.main{
  flex:0.9;
  display: flex;
  flex-direction: row;
  color: white;
  /* justify-content: space-around; */

  /* align-items: center; */
}
.title{
  font-size: 5vw;
  color: white;
  margin-left: 2vw;
  margin-top: 20vh;
  flex: 0.6;
}
.subtit{
  font-size: medium;
  margin-left: 15vw;
}
.image>img{
  height:90vh;
  width: 40vw;
  border-radius: 10%;
  /* width:200px;
  height:200px;
  border-radius: 50%; */
  /* margin-left: 5vw; */
}
.nav>p:hover{
  padding:1px;
  border-bottom: 1px solid white;
  cursor: pointer;
  /* text-decoration: underline;
  text-decoration-color: white;
   */
}
.image{
  flex:0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20vw;
height: 30vh; */

  /* margin-right: 2vw; */
  /* width:20vw;
  height:30vh; */
  /* background-image: url('./components/b2.jpg'); */
}
.image>img{
  width: 30vw;
  max-height:  50vh;
}
.butt>button{
  margin-top: 10vh;
  width:10vw;
  height:5vh;
  border:1px solid white;
  border-radius:5px ;
  background-color: black;
  color: white;
  font-size: 1vw;
}
.butt>button:hover{
  cursor: pointer;
  background-color: rgb(108, 99, 255);
  transform: scale(1.05);
}


Link{
  
}
.link{
  text-decoration: none;
  color: white;
}

.atitle{
 display: flex;
  flex:0.6;
  flex-direction: column;

}

.at{
  margin-top: 7vh;
  color: white;
  font-size: xxx-large ;
  margin-left: 2vw;
}
.at2{
  color: white;
  margin-left: 2vw;
  margin-top: 5vh;
 max-width:  40vw;
font-size: large;
}
.abimage{
max-width: 20vw;
border-radius: 50%;
margin-left: 7vw;
}

.sidebar{
flex:0.17;
/* border-right:1px solid white; */
/* background-color: #111; */
display: flex;
flex-direction: column;
color: white;
align-items: center;
justify-content: center;

}
.pmain{
  flex:0.85;
  background-color: #111;
  display: flex;
  /* align-items: center; */
}

.ptit{
  /* margin:2vh; */
  width: 90%;
  flex:0.1;
  display: flex;
  align-items: center;
  margin-top: 2vh;
  /* justify-content: center; */
}

.ptit:hover{
  border-right:3px solid rgb(99, 102, 255);
  /* border-right: 3px solid white; */
  cursor: pointer;

}

#this{
  border-right:3px solid rgb(99, 102, 255);
  /* border-bottom: 2px solid white; */


}
.description{
  
  flex:0.6;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid white; */
  /* align-items: center; */
  justify-content: space-around;
    color: white;
  /* margin-left: 2vw; */

}
.para{
  margin: 2vw;

  /* margin-top: ; */
}
.ptitle{
  margin: 2vw;
  /* margin-left: 2vw; */
  font-size: xx-large;
  color: white;
}
.git{
  margin: 4vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#git{
  display: flex;
  padding:2px;
  align-items: center;
  justify-content: space-around;
  width:8vw;
  /* color: black; */
  /* background-color: #238636; */
  /* height */
  border:3px solid black;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-right: 3vw;
}
#git:hover{
  transform: scale(1.05);
}
.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ctit{
  color: white;
margin-bottom: 3vh;
font-size: xx-large;

}
form{
  display: flex;
  height: 60vh;
  /* flex: 1; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.name{
  height: 5vh;
  width:20vw;
  font-size: large;

}
.subject{
  height: 5vh;
  width:20vw;
  font-size: large;


}
.email{
  height: 5vh;
  width:20vw;
  font-size: large;



}
.sub{
  width:7vw;
  height:5vh;
  color: black;
  border-radius: 5px;
  font-size: large;
  font-size: large;


}
.message{
  width:20vw;
  font-size: large;

}
.sub:hover{
  cursor: pointer;
  background-color:rgb(99, 102, 255) ;
}